<section class="">

  <div class="produtos shadow-7">

    <h2>Produtos Comercializados</h2>
    <div class="flex-container1">
      <a href="http://en.chinatiange.com/" target="_blank">
        <img src="/assets/imgs/logo_tiange.gif" alt="logo_tiange">
      </a>
      <a href="http://www.thaisimoveis.com.br/" target="_blank">
        <img src="/assets/imgs/logo_taise.gif" alt="logo_taise">
      </a>
      <a href="http://www.lfpp.com.br/2010/" target="_blank">
        <img src="/assets/imgs/logo_lfpp.gif" alt="logo_lfpp">
      </a>
    </div>
    <div class="flex-container2">
      <a href="https://www.gruporosa.com.br/" target="_blank">
        <img src="/assets/imgs/laytope_gruporosa.gif" alt="laytope_gruporosa">
      </a>
      <a href="http://www.orsaflorestal.com.br/" target="_blank">
        <img src="/assets/imgs/ico_logo_orsa.gif" alt="ico_logo_orsa">
      </a>
      <a href="https://www.preciouswoods.com/de/home" target="_blank">
        <img
          src="https://media-exp1.licdn.com/dms/image/C510BAQFYGWYeSSkOJQ/company-logo_200_200/0/1519876002352?e=2147483647&v=beta&t=3X6ZM9pWy7NDdhCrXOAxep_xX2YZpA4FZvk0AQrRL_8"
          alt="preciouswoods">
      </a>
    </div>
  </div>


</section>

<footer class="layout-rodape">
  <div class="container">
    <p>&copy; 2022 Tracaja. Todos os direitos reservados.</p>
  </div>
</footer>
