<div class="w-8 mt-3 flex flex-column md:flex-row m-auto">
  <p-image class="mr-3" src="assets/imgs/qualidade.jpg" alt="Image" width="250" height="210">
  </p-image>
  <p class="m-auto  text-lg text-600 ">Produtos da mais alta qualidade com a perfeita correlação com o meio ambiente,
    como
    compensados,
    lâminas faqueadas,
    lâminas torneadas, madeira serrada e beneficiada. Diversificada linha de espécies de madeira tropical ou
    reflorestada, com os seguintes fins:</p>
</div>
<div class="w-8 mt-8 flex flex-column md:flex-row m-auto">
  <ul class="list-disc text-lg text-700">
    <li>Distribuidores e revendedores de madeira;</li>
    <li>Indústrias da construção civil;</li>
    <li>Empresas ferroviárias;</li>
    <li>Indústria moveleira;</li>
    <li>Indústria naval;</li>
    <li>Indústria de embalagens;</li>
    <li>Indústria de componentes e artefatos de madeira em geral.</li>
  </ul>
  <p-image class="ml-5" src="assets/imgs/diversidade.jpg" alt="Image" width="250" height="210">
  </p-image>
</div>
<div class="m-auto w-10 p-5 surface-300 shadow-4">
  <h3 class="text-2xl font-italic text-indigo-800">Imagens:</h3>
  <div class="m-auto md:w-8">
    <p-image class="mr-3 border-gray-500 " src="assets/imgs/DSC02307.JPG" alt="Image" height="210" width="250"
      [preview]="true">
    </p-image>
    <p-image class="mr-3" src="assets/imgs/DSC02308.JPG" alt="Image" width="250" height="210" [preview]="true">
    </p-image>
    <p-image src="assets/imgs/DSC02309.JPG" alt="Image" width="250" height="210" [preview]="true"></p-image>

    <p-image class="mr-3" src="assets/imgs/DSC02310.JPG" alt="Image" width="250" height="210" [preview]="true">
    </p-image>

    <p-image class="mr-3" src="assets/imgs/DSC02311.JPG" alt="Image" width="250" height="210" [preview]="true">
    </p-image>
    <p-image src="assets/imgs/DSC02312.JPG" alt="Image" width="250" height="210" [preview]="true"></p-image>
    <p-image class="mr-3" src="assets/imgs/DSC02313.JPG" alt="Image" width="250" height="210" [preview]="true">
    </p-image>
    <p-image class="mr-3" src="assets/imgs/DSC02314.JPG" alt="Image" width="250" height="210" [preview]="true">
    </p-image>
    <p-image src="assets/imgs/DSC02315.JPG" alt="Image" width="250" height="210" [preview]="true"></p-image>

    <p-image class="mr-3" src="assets/imgs/DSC02316.JPG" alt="Image" width="250" height="210" [preview]="true">
    </p-image>

    <p-image class="mr-3" src="assets/imgs/DSC02317.JPG" alt="Image" width="250" height="210" [preview]="true">
    </p-image>

    <p-image src="assets/imgs/DSC02318.JPG" alt="Image" width="250" height="210" [preview]="true"></p-image>


  </div>
</div>