<div class="container m-auto  w-10 md:w-5">
  <h2 class="text-center text-5xl lg:text-6xl border-bottom-3 border-green-400 ">AGROPECUÁRIA
  </h2>
  <div class="text-center mb-8 text-700">

    <h3 class="text-2xl"> Atuamos no setor de agronegócios, e sua área de atuação encontra-se em expansão:</h3>
    <ul class="text-left text-xl pt-5">
      <li class="mb-3">Intermediação e venda de imóveis rurais;</li>

      <li class="mb-3">Criação de comercialização de bovinos e outros produtos alimentícios;</li>
      <li class="mb-3">
        Reflorestamento – projeto e execução (inclusive em agrosilvopastoril);
      </li>

      <li class="mb-3"> Silvicultura – projeto e execução de Plano de Manejo Florestal Sustentado;</li>

      <li class="mb-3"> Execução de Certificação Florestal em floresta nativa ou reflorestada.</li>
    </ul>
  </div>
</div>

<div class="surface-300 shadow-4">

  <div class="m-auto w-10 p-5">
    <h3 class="text-2xl font-italic text-indigo-800">Imagens:</h3>
    <div class="m-auto w-8">
      <p-image class="mr-3 border-gray-500 " src="assets/imgs/DSC01542.JPG" alt="Image" height="210" width="250"
        [preview]="true">
      </p-image>
      <p-image class="mr-3" src="assets/imgs/DSC01544.JPG" alt="Image" width="250" height="210" [preview]="true">
      </p-image>
      <p-image src="assets/imgs/Emflora.JPG" alt="Image" width="250" height="210" [preview]="true"></p-image>
    </div>
  </div>

</div>
