<div class="container m-auto w-5">
  <h2 class="text-center  text-6xl border-bottom-3 border-green-400 ">AGROPECUÁRIA
  </h2>
  <div class="text-center mb-8 text-700">
    <p> Atuamos no setor de agronegócios, e sua área de atuação encontra-se em expansão:</p>

    <p>Intermediação e venda de imóveis rurais; </p>

    <p>Criação de comercialização de bovinos e outros produtos alimentícios;</p>
    <p>
      Reflorestamento – projeto e execução (inclusive em agrosilvopastoril);
    </p>

    <p> Silvicultura – projeto e execução de Plano de Manejo Florestal Sustentado; </p>

    <p> Execução de Certificação Florestal em floresta nativa ou reflorestada.</p>

  </div>
</div>

<div class="surface-300">

  <div class="m-auto w-10 p-5">
    <h3 class="text-2xl font-italic text-indigo-800">Imagens:</h3>
    <div class="m-auto w-8">
      <p-image class="mr-3 border-gray-500 " src="assets/imgs/DSC01542.JPG" alt="Image" height="210" width="250"
        [preview]="true">
      </p-image>
      <p-image class="mr-3" src="assets/imgs/DSC01544.JPG" alt="Image" width="250" height="210" [preview]="true">
      </p-image>
      <p-image src="assets/imgs/Emflora.JPG" alt="Image" width="250" height="210" [preview]="true"></p-image>
    </div>
  </div>

</div>
