<div class="container m-auto w-8 md:w-5">
  <h2 class="text-center text-green-900 text-6xl border-bottom-3 border-green-400 ">HISTÓRIA</h2>
  <div class="text-center mb-8 text-700">
    <p>A TRACAJÁ nasceu a partir das empresas da família Rosa – <a class="text-green-300"
        href="https://www.gruporosa.com.br/" target="_blank">
        o
        Grupo Rosa.</a></p>

    <p>No ramo madeireiro desde os anos 60 - ainda no estado do Espírito Santo - tomou força e vigor com instalações no
      sul da Bahia. Em 1980 firma suas raízes no Estado do Pará com investimento em propriedades rurais para garantia de
      abastecimento de matéria prima florestal e atividade agropecuária - sendo então fundado a Rosa Madeireira Ltda.
    </p>

    <p>Com o passar dos anos, aplicando novas tecnologias, torna-se necessário grande investimento em unidade de
      industrialização de chapas de madeira laminada (compensados), surgindo a Rosa Compensados Ltda.</p>
    <p>
      Para melhor administração do setor agropecuário e principalmente quanto ao abastecimento eficiente ás empresas,
      cria-se a Nova Era Agroflorestal.
    </p>

    <p>Em 2003 sob a direção de Antônio Carlos Rosa, a Tracajá Exportação e Serviços Ltda é criada - para
      que em
      conjunto ao Grupo Rosa ou isoladamente – atenda de forma personalizada seus principais clientes internacionais.
    </p>
  </div>
</div>
