<section class="layout-chamada">
  <div class="container">

    <div class="chamada">
      <h1 class="chamada__titulo scalein animation-duration-1000 animation-iteration-1">Seja bem vindo ao site da
        Tracaja!</h1>
      <p class="chamada__subtitulo scalein animation-duration-1000 animation-iteration-1">A Tracajá foi fundada
        para atendê-lo em suas necessidades dentro dos diversos
        segmentos em que atua.</p>
    </div>
  </div>
</section>


<div [ngStyle]="{backgroundColor:'var(--gray-300)'}">

  <div class="grid centro pt-5 fadeinleft animation-duration-1000 animation-iteration-1">
    <div *ngFor="let card of cards" class="col    md:ml-6">

      <p-card class="text-center  centro" [header]="card.header"
        [style]="{'width': '23rem','height':'15rem', 'margin-bottom': '1.5em'}">

        <p> {{card.text}}</p>

        <a [routerLink]="[card.rota]">
          <p-button [style]="{'margin-top': '1em'}" label="Leia Mais" icon="pi pi-search">
          </p-button>
        </a>
      </p-card>
    </div>
  </div>
</div>
